body {
overflow:hidden;
}

#myVideo {
    position: fixed;
    right: 0;
    left: 50%;
	top: 50%;
	bottom: 0;
    min-width: 100%; 
    min-height: 100%;
	transform: translateX(-50%) translateY(-50%);
}

.kanna {
		position:absolute;
		top: 10px;
		left: 50vw;
		transform: translateX(-50%);
		z-index: 2;
		width: 1000px;
        height: auto;
		
	}
	
.coleus {
	position: absolute;
	font-size: 70px; 
    top: 480px;
	left: 50vw;
	transform: translateX(-50%);
	z-index: 2;
	color: #000080;
	font-family: dense;
	text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.steam { 
	position: absolute;
	font-size: 50px; 
    top: 550px;
	left: 55vw;
	transform: translateX(-50%);
	z-index: 2;
	color: #000080;
	font-family: dense;
	text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.discord { 
	position: absolute;
	font-size: 50px; 
    top: 550px;
	left: 45vw;
	transform: translateX(-50%);
	z-index: 2;
	color: #000080;
	font-family: dense;
	text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

h2 {
  position: absolute;
}

@font-face {
font-family: "dense";
src: url("dense.otf");
}

a.link:link
{
   color: #003366;
   text-decoration: none;
}
a.link:visited
{
   color: #003366;
   text-decoration: none;
}
a.link:hover
{
   color: black;
   text-decoration: none;
}
a.link:active
{
   color: #003366;
   text-decoration: none;
}
@keyframes imageAnimation {
  0%   {opacity: 0; top: 44%;}
  100% {opacity: 1; top: 10px;}
}
   
 #EE6C90