@font-face {
    font-family: bt1982;
    src: url("BACKTO1982.TTF");
}
body {
	white-space:nowrap;
    font-family: bt1982;
    display: table; 
    margin: auto;
    overflow: hidden
}
#names {
    color: white;
    position: absolute;
    display: block;
    left: 50%;
    top:46%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-shadow: 0.17vw 0.17vw 0 rgba(56, 122, 193, 0.7), -0.15vw -0.15vw 0 rgba(255, 0, 75, 0.6);
    font-size: 2.4vw;
}

}
#logo {
    color: white;
    position: absolute;
    display: block;
    left: -10%;
    top: 52%;
    width:  3vw;
    height: 3vw;
    transform: translate(-80%, -80%);
}
#playing {
    color: white;
    text-shadow: 0.17vw 0.17vw 0 rgba(56, 122, 193, 0.7), -0.15vw -0.15vw 0 rgba(255, 0, 75, 0.6);
    font-size: 1vw;
    margin: 0 auto
}
#welcome {
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0.13vw 0.13vw 0 rgba(56, 122, 193, 0.6), -0.13vw -0.13vw 0 rgba(255, 0, 75, 0.6);
    font-size: 2.7vw;
}
#right {
    width : 50%;
    height: 100%;
    background-color: rgba(24, 48, 51, 0.83);
    position:fixed;
}
#left {
    width : 50%;
    height: 100%;
    text-align: center; 
    color: white;
    position:absolute;
    top:0;
    left:0;
}
#gif {
    position: fixed;
    top: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1
}
#discord 

a:link {
    color: white; 
    background-color: transparent; 
    text-decoration: none;
}
a:visited {
    color: white; 
    background-color: transparent; 
    text-decoration: none;
}
a:hover {
    color: black; 
    background-color: transparent; 
    text-decoration: none;
}
a:active {
    color: white; 
    background-color: transparent; 
    text-decoration: none;
}
	
.modalDialog {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,1);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	text-align: center; 
    color: white; 
	font-size: 1.4vw;
	text-shadow: 0.13vw 0.13vw 0 rgba(56, 122, 193, 0.6), -0.13vw -0.13vw 0 rgba(255, 0, 75, 0.6);
	position: relative;
	top: 40%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);

}